@import url(Components.css/Avatar.css);
@import url(Components.css/Button.css);
@import url(Components.css/Container.css);


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
}

header {
    background-color: #a8dadc;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
}

section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    flex-basis: calc(50% - 40px); 
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s; 
}

section:hover {
    transform: translateY(-5px); 
}

section img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto 20px; 
}

section h2 {
    color: #f4acb7;
}

a, nav ul li a:hover, nav ul li a:focus {
    color: #bde0fe;
}

footer {
    background-color: #a8dadc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 800px) {
    .articles-container {
        justify-content: center;
    }

    section {
        flex-basis: calc(100% - 20px); 
    }
}

#Shoes img, #pants img, #chapeau img {
    max-width: 30%; 
    height: auto;
}
#tshirt img {
    max-width: 20%; 
    height: auto;
}

section h2 a {
    color: #a8dadc; 
    text-decoration: none; 
}

section h2 a:hover, section h2 a:focus {
    text-decoration: underline;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #0056b3;
}
header {
    background-color: #a8dadc;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #fff; /* Ajout de la bordure */
}
